<app-layout>
	<@title>About me</@title>
	<@body>
		<div>
			<Markdown>
				I work with companies to improve their digital products and services. I focus primarily on product design and user research. I devote a lot of my spare time to exploring how design decisions can be automated. When I’m not creating things, I like to cook, indulge in retro gaming and feed my lego obsession.

				[View CV](/cv)
			</Markdown>
		</div>
	</@body>
</app-layout>
