*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.marko.js
*.sublime-workspace
*.sublime-project
*.original
*.vscode
*.DS_Store

/lib-cov
/pids
/logs
/results
/build
/.cache
/node_modules

npm-debug.log

.now