@import '../../styles/aliases';

:root {
	--number-base: 16px;
	--number-font-scale-factor: var(--number-minor-third);
	--font-size: var(--number-base);
	--line-height: calc(1.1 * var(--number-spacing-scale-factor));

	@media (min-width: 900px) {
		--number-base: calc(16px * 1.25);
		--number-font-scale-factor: var(--number-perfect-forth);
	}
}

:root {
	font-size: var(--font-size-0);
	
	font-family: var(--font-family);
	line-height: var(--line-height);
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 100%; /* equals 16px */
}

h1, h2, h3, h4, h5, h6, p, blockquote, table, ul, ol, li, code, a {
	letter-spacing: -0.05em;
}

h1, h2, h3, h4, h5, h6, p, blockquote, table, ul, ol, li, code {
	/* margin-left: -0.09ex; adjustment for text alignment on left */
	/* font-size: var(--font-size-0); */
    :--link {
		padding-bottom: 0.25rem;
		border-bottom: 0.09em solid;
    }
}

ol {
	counter-reset: counter;
	li {
		counter-increment: counter;
	}

	li::before {
		/* content: counter(counter) ". "; */
    	font-weight: 500;
    	font-variant-numeric: tabular-nums;
		/* position: absolute; */
		text-align: left;
		padding-right: var(--padding-1);
	}
}

:--heading {
	font-family: var(--heading-font-family);
	font-weight: bold;
}

h1 {
	font-size: var(--font-size-4);

}

h2 {
	font-size: var(--font-size-3);

}

h3 {
	font-size: var(--font-size-2);
}

h4 {
	font-size: var(--font-size-1);
}

h5 {
	font-size: var(--font-size-0);
}

h6 {
	font-size: var(--font-size--1);
}

hr {
	border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

