import markdown from '../scripts/markdown'

<Layout>
	<@title>404</@title>
	<@body>
		<div>
			$!{markdown(`# 404 Page not found`)}
			<!-- <Markdown>
				# 404 Page not found
			</Markdown> -->
		</div>
	</@body>
</Layout>
