import markdown from '../scripts/markdown'

<Wrap class="page__cv">
	<@title>CV</@title>
	<@body>
		<for|heading, content| in=input.sections>
			<Section>
				<h2>${heading}</h2>
				<div>$!{markdown(content)}</div>
			</Section>
		</for>
	</@body>
</Wrap>
style {
	@import "../styles";

	.page__cv {
		& h2 {
			@extend .f-caps, .f-1, .md\:w-200;
		}
		& section {
			@extend .md\:flex;
		}
	}
}
