@import '../../styles/aliases';

:--code {
    cursor: text;

    :--inline & {
        display: inline-block;
        background-color: var(--black);
        padding: var(--padding-1);
    }

    :--block & {
        border-radius: 2px;
        /* padding: var(--padding-1); */
        font-family: Fira Code;
    }
}
