/* Elements */

img {
	margin-bottom: var(--em-0);
}

:not(div) > a {
	text-decoration: none;
	border-bottom: 1px solid;
	/* background-image: linear-gradient(black, black);
	background-size: 100% 1px;
	background-position: left bottom;
	background-repeat: no-repeat; */
}

ol {
	list-style: decimal;
}

ul {
	list-style: none;
}

li {
	display: list-item !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	border-bottom: none;
}

h3, h4, h5 {
	margin-top: var(--em-3);
    margin-bottom: var(--em-2);
}

body {
	padding-left: var(--rem-3);
	padding-right: var(--rem-3);
	margin: 0;
}

hr {
	border-bottom: 1px solid;
}

code {
	cursor: text;
	border-radius: 1px;
	letter-spacing: -0.05em;
}

p code, ul code {
	padding-left: var(--em--1);
	padding-right: var(--em--1);
	white-space: nowrap;
}

pre code {
	padding: var(--em-0);
	overflow-x: scroll;
}

pre {
	margin-top: var(--em-2);
	margin-bottom: var(--em-2);
}

iframe {
	display: block;
}

/* Component spacing */

.Section__Title {
	/* margin-bottom: var(--rem-4); */
	font-size: var(--font-size-h3);
}

.Section__Content {
	margin-bottom: var(--rem-6);
}

.Section__Text {
	margin-bottom: var(--rem-5);
	text-align: center;
}


/* Components */

.Section {
	/* --spacing: var(--spacing-4); */
}

.Button {
	display: inline-block;
	border: 1px solid;
	border-color: var(--border-color);
	padding: var(--rem-1);
	text-decoration: none;
	background: none;
}

.Button:hover {
	background-color: hsla(0, 0%, 50%, 0.5);;
}

.Header {
	display: flex;

	height: var(--rem-9);
	/* padding: var(--rem-6) 0; */
	border-bottom: 1px solid;
	flex-wrap: wrap;
	flex-direction: column;
	place-content: center;
}

.Header > * {
	/* flex-grow: 1; */
	flex-basis: 0;
	/* margin-top: 0; */
	/* margin-bottom: 0; */
}

.Header .Header_Name {
	margin-top: 0;
	font-size: var(--font-size-5);
	text-align: center;
	margin-bottom: var(--rem-4);
	margin-right: -0.15em
}

.Header .Button {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.Header .Button {
	margin-top: var(--rem-2);
}

.Header .Header_Tagline {
	text-align: center;
	margin-top: 0;
}


.Nav {
	padding-top: var(--rem-1);
	padding-bottom: var(--rem-1);
	border-bottom: 1px solid;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Logo {
	font-weight: bold;
}

.Logo>a {
	text-decoration: none;
	font-size: var(--font-size-1);
}

.Nav nav {
	margin-top: 0;
}

.Nav nav>*+* {
	margin-left: var(--rem-1);
	flex-shrink: 0;
}

.Nav nav a {
	border-bottom: none;
}

.Container {
	margin-top: var(--rem-5);
}

.Container>.Section:not(:last-child) {
	/* border-bottom: 1px solid lightgrey; */
	/* padding-left: var(--spacing-3); */
	/* padding-right: var(--spacing-3); */
	/* padding-bottom: var(--spacing-5); */
	/* margin-left: calc(0px - var(--spacing-3)); */
	/* margin-right: calc(0px - var(--spacing-3)); */
}

.Footer {
	display: flex;
	margin-bottom: var(--rem-3);
	margin-top: var(--rem-6);
	flex-wrap: wrap;
	justify-content: space-between;
}

.Footer > * {
	margin: 0;
	font-size: smaller !important;
	flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.Footer > *:first-child {
	margin-right: var(--rem-1);
}

.Footer ul li {
	margin-top: 0;
	display: block;
	float: left;
}

.Footer ul>*+* {
	margin-left: var(--rem-2);
}

@media (max-width: 612px) {
	.Footer > *:first-child {
		order: 1;
	}

	.Footer_Link {
		margin-bottom: var(--rem-3);
	}
}

.Card__Content {
	/* margin-top: var(--rem-3); */
}

.Card__Image {
	margin-bottom: var(--rem-3);
}


.List>*+* {
	margin-top: var(--rem-5);
}

.Project__Content img {
	margin-top: var(--rem-1);
	margin-bottom: var(--rem-1);
}

.text-crop-none {
	display: block;
}

.text-crop-none::before {
	display: none;
}

.text-crop-none::after {
	display: none;
}

.aspect-ratio {
	position: relative;
	height: 0;
	padding-bottom: 75%;
	margin-top: var(--em-2);
	margin-bottom: var(--em-2);
}

.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
