:root {

    /* breakpoints: (600px, 900px, 1200px, 1800px); */

    /* sides: (/top/, /right|start/, /bottom/, /left|end/); */

	

    --border-width: 1px;
	--border-style: solid;

	--box-shadow: none;
	--box-shadow-color: var(--black);

	
}


