@import './aliases';

:root {
    font-size: var(--font-size-4);
	font-family: var(--font-family);
	line-height: var(--line-height);
	color: var(--font-size-2);
}

:--text {
	margin-block: var(--margin-2);

    :--link {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: var(--grey);
    }
}

:--heading {
    margin-block: var(--margin-4);
	color: var(--purple);
}

:--link {
    color: var(--black);

    &:hover {
        cursor: pointer;
        background-color: var(--grey);
    }
}

:--code {
    cursor: text;

    :--inline & {
        display: inline-block;
        background-color: var(--black);
        padding: var(--padding-1);
    }

    :--block & {
        display: block;
        /* border: ; */
        border-radius: 2px;
        padding: var(--padding-8);
        font-family: code;
    }
}

:--list {
	list-style: none;

	li {
		margin-bottom: var(--margin-1);
	}
}

:--table {
	display: block;
	overflow: scroll;
	margin-block: var(--margin-6);

	td {
		padding: var(--padding-2) var(--padding-2) var(--padding-2) *;
		vertical-align: top;
	}

	th {
		text-align: left;
	}

    td, th {
        padding-block: var(--padding-1);
	}

	tr {
		border-bottom: var(--border-width) var(--border-style) var(--border-color);

		&:last-child {
			border-bottom: none;
		}
	}

	thead, tbody {
		min-width: 500px;
		display: block;
	}
}

h1 {
	font-family: Miriam Libre;
	font-size: var(--font-size-8);
	margin-block: var(--margin-8);
	line-height: 2;
}

h2 {
	font-size: var(--font-size-6);
	margin-block: var(--margin-8);
}

h3 {
	font-size: var(--font-size-5);
}

h4 {
	font-size: var(--font-size-4);
}

h5 {
	font-size: var(--font-size-3);
}

h6 {
	font-size: var(--font-size-2);
}

hr {
	margin-inline: var(--margin-6);
	border-bottom: var(--border-width) var(--border-style) var(--border-color);
}
