@import 'tailwindcss/base';
/* @import 'tailwindcss/components'; */
/* @import 'tailwindcss/utilities'; */
/* @import 'karamel'; */
@import 'karamel/normalize';
@import './reset';
@import './variables';
@import './elements';


[layout=grid] {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap);

	@extend %remove-margin;

	> * {
		grid-column: 1 / -1;

	}


	div {
		@extend %remove-margin;

		/* Fix for firefox because for some reason div expands to size of it's children */
		width: 100%;
	}

	img {
		width: 100%;
	}
}

@media (min-width: 900px) {
	[layout=grid\^1] {
		@extend [layout=grid]
	}
}

[cols="12"] {
	grid-template-columns: repeat(12, 1fr);
}



