
@import './reset';
@import './numbers';
@import 'typolize';
@import './colors';
@import './layout';
@import './components';
@import './syntax-colors';

@media (min-width: 1500px) {
	:root {
		--font-base: 18px;
	}
}

@media (max-width: 1200px) {
	:root {
		--font-ratio: 1.25;
	}
}

@media (max-width: 900px) {
	:root {
		--spacing-ratio: 0.666;
		--font-ratio: 1.2;
	}
}

@media (max-width: 600px) {
	:root {
		--spacing-ratio: 0.5;
	}
}

@media (max-width: 375px) {
	:root {
		--font-base: 14px;

	}
}


