:root {
	--number-golden-ratio: 1.618;
	--number-minor-third: 1.2;
	--number-major-third: 1.25;
	--number-perfect-forth: 1.333;
	--number-dim-forth: 1.414;
	--number-perfect-fith: 1.5;
	--number-octave: 2;
}
