/* Remove default border from hr */

* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}

hr {
	border: none;
	margin-bottom: unset;
}

code {
	/* Need a way to correct line-height. */
	/* font-size: 0.9em; */
	vertical-align: inherit;

	/* Random bug where square appears in top right hand corner? */
	-webkit-appearance: none;
}

code {
	font-size: 0.9em;
}

pre {
	font-family: inherit;
	/* Tries to normalize size of font family */
	font-size: 100%;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
}

:not(p)>code {
	display: block;
}


a {
	display: inline;
}


img {
	width: 100%;
	height: auto;
}

p {
	font-size: inherit !important;
}























/* Old Styles */

/* html {
	height: 100%;
}

html, body {
	min-height: 100%;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, code, pre {
	margin: unset;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul, ol {
	list-style: none;
	padding-left: unset;
}

ol {
    counter-reset: number;
}

ol li::before {
	counter-increment: number;
}

ol li::before, ul li::after {
	display: inline-block;
}


table {
	border-collapse: collapse;
	font-size: unset;
}

figure {
	margin: unset;
}

img {
	width: 100%;
	height: auto;
}

hr {
	height: 0;
	border: none;
} */
