@import 'aliases';

:root {
    --spacing-base: 16px;
	@media (min-width: 900px) {
        --spacing-base: 24px;
	}
}

:root {
	@for $i from -2 to 20 {
		--spacing-$(i): calc(var(--spacing-base) * pow(var(--line-ratio), $(i)));
		--margin-$(i): calc(var(--spacing-base) * pow(var(--line-ratio), $(i)));
		--padding-$(i): calc(var(--spacing-base) * pow(var(--line-ratio), $(i)));
	}

	--gap: var(--spacing-4)
}






h, h1, h2, h3, h4, h5, h6, p, blockquote, table, ul, ol, li, code, hr {
	margin-block: var(--margin-1);
}

h1 {
	margin-block: var(--margin-3) var(--margin-3);
}

h2 {
	margin-block: var(--margin-4) var(--margin-3);
}

h3 {
	margin-block: var(--margin-3) var(--margin-2);
}

h5 {
    margin-bottom: var(--margin--1); 
}

h5 + p {
	margin-top: 0;
}

hr {
	margin-block: var(--margin-3) !important;
}

div > code {
    margin-block: var(--margin-1);
}



div > div {
    margin-block: var(--margin-1);
}



/* Removing margins */

div > div:only-of-type {
    margin: unset;
}


:first-child {
    margin-top: unset;
}

:last-child {
    margin-bottom: unset;
}


/* Text crop */
/* Using this method
https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f
*/

blockquote, p, ul, ol, h1, h2, h3, h4, h5, h6, nav, div > code, div > a, .Button {

    display: table;
    /* background: rgba(20,230,245,0.1); */

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc((0.75 - var(--line-height, 1)) * 0.5em);
    }

    &::after {
        margin-top: calc((0.75 - var(--line-height, 1)) * 0.5em);


        /* ^ Causing some issues with how the height is calculated. So for some reason you need to add display: table, but that may cause some issues elsewhere */
    }
}

/* Gridlines */
/* body {
    --base-grid-color1: rgba(20,230,245,0.3);
    --base-grid-color2: hsla(0,0%,47.1%,0.05);
    background-image: repeating-linear-gradient(0deg,var(--base-grid-color2),var(--base-grid-color2) 1px,transparent 0,transparent calc(var(--spacing-base)/2),var(--base-grid-color1) calc(var(--spacing-base)/2),var(--base-grid-color1) calc(var(--spacing-base)/2 + 1px),transparent calc(var(--spacing-base)/2 + 1px),transparent var(--spacing-base));
    background-repeat: repeat-y;
    background-size: 100% var(--spacing-base);
    background-position: 0 .5px;
} */
