:root {
    --number-base: 8px;
    --number-golden-ratio: 1.168;
    --number-octave: 2;

    /* breakpoints: (600px, 900px, 1200px, 1800px); */

    /* sides: (/top/, /right|start/, /bottom/, /left|end/); */

    --silver: silver;
	--green: green;
	--blue: blue;
	--red: red;
	--black: black;

	--font-size-1: 1em;
	--font-size-2: 1.2em;
	--font-size-3: 1.5em;
	--font-size-4: 1.7em;
	--font-size-5: 2em;
	--font-size-6: 3em;
	--font-size-7: 4em;
	--font-size-8: 5em;
	--font-size-9: 6em;
	--font-size-10: 8em;

	--margin-1: 10px;
	--margin-2: 20px;
	--margin-3: 30px;
	--margin-4: 40px;
	--margin-5: 60px;
	--margin-6: 120px;
	--margin-7: 240px;
	--margin-8: 240px;
	--margin-9: 240px;
	--margin-10: 240px;

	--padding-1: 10px;
	--padding-2: 20px;
	--padding-3: 30px;
	--padding-4: 40px;
	--padding-5: 60px;
	--padding-6: 120px;
	--padding-7: 240px;
	--padding-8: 240px;
	--padding-9: 240px;
	--padding-10: 240px;


	--border-color: var(--black);
    --border-width: 1px;
	--border-style: solid;

	--font-size: 1;
	--font-family: Arial;
	--line-height: 1.5;

	--color: black;
	--background-color: ;

	--box-shadow: none;
	--box-shadow-color: var(--black);
}


