@import "../../styles";
@import "../../styles/groups";

body {
	padding-inline: var(--padding-2);
	padding-top: var(--margin-2);

	> main {
		padding-left: inherit;
		padding-right: inherit;
	}
	> header {
		padding-bottom: var(--spacing-1);
	}

	> header a {
		display: inline-block;
	}

	> header .logo {
		font-family: var(--heading-font-family);
		font-weight: bold;
	}

	.wrapper {
		box-sizing: content-box;
		padding-inline: inherit;
		max-width: 1200px;
	}

	/* fullwidth */

	> main {
		display: flex;
		justify-content: center;
		@extend %width-viewport;
	}

	.wrapper {
		flex-basis: 100%;
		flex-shrink: 0;
		width: 100%
	}

	> footer {
		/* display: flex; */
		margin-top: var(--margin-4);
		padding-bottom: var(--margin-2);
	}

	> footer p {
		padding-right: var(--margin-1);
		margin-bottom: unset;
	}

	> footer > * {
		font-size: var(--font-size--1);
		gap: var(--margin-1);
		/* margin: unset; */
	}

	> footer nav a {
		margin-right: var(--margin-1);
	}
}
