@import '../../styles/aliases';

:--heading {
	/* letter-spacing: -1.5px; */
	font-family: var(--heading-font-family);
	font-weight: 700;
	margin-block: var(--margin-6);
	color: var(--purple);
}

h1 {
	font-size: var(--font-size-3);
	margin-block: var(--margin-8);
}

h2 {
	font-size: var(--font-size-1);
	margin-block: var(--margin-9);
}

h3 {
	font-size: var(--font-size-1);
}

h4 {
	font-size: var(--font-size-4);
}

h5 {
	font-size: var(--font-size-3);
}

h6 {
	font-size: var(--font-size-2);
}
