@import "../../styles";
@import "../../styles/groups";

/* %grid {
	@media (min-width: 800px) {
		display: grid;
		gap: var(--spacing-2);
		grid-template-columns: repeat(12, 1fr);
	}

	.excerpt {
		grid-column: 6 / -1;
	}
} */

.Section > h2 {
	text-transform: capitalize;
}

.Section {
	@extend %remove-margin;

	border-top: var(--border-width) var(--border-style) var(--border-color);
	padding-block: var(--padding-11) var(--padding-12);

	figure {

		@media (min-width: 900px) {
			margin-block: var(--margin-10);
			figcaption {
				text-align: center;
			}
		}
		img {
			width: 100%;
		}
	}

	figcaption {
		font-size: var(--font-size-1);
		margin-top: var(--margin-10);
		max-width: 64rem;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Layout settings */

/* Viewport width ?
.Section figure {
	@extend %width-viewport;

	@media (min-width: 800px) {
		margin-left: calc(((-100% - var(--spacing-2)) / 6));
	}

	img {
		margin: 0 auto;
	}
} */
