@import '../../styles/aliases';

:--table {
	/* display: block; */
	width: 100%;
	overflow: scroll;
	border-spacing: 0;
	margin-block: var(--margin-2);
	border-top: var(--border-width) var(--border-style) var(--border-color);

	td, th {
		padding: var(--padding-1) var(--padding-1) var(--padding-1) *;
		vertical-align: top;
	}

	th {
		text-align: left;
	}

	tr {
		border-bottom: var(--border-width) var(--border-style) var(--border-color);
		/* display: table-row; */
		&:last-child {
			/* border-bottom: none; */
		}
	}

	thead, tbody {
		/* min-width: 500px; */
		/* display: block; */
	}
}
